---
import PhotoGrid from './PhotoGrid.astro';
import { featuredCollectionId, getImages } from '../data/imageStore';

const images = await getImages({ collection: featuredCollectionId });
---

<!-- <div class="container mx-auto">
    <section class="text-neutral-700">
      <div class="container w-full">
        <div class="flex flex-wrap w-full">
          <div class="flex w-full md:w-1/2 flex-wrap">
            <p>test</p>
          </div>
        </div>
      </div>
    </section>
  </div> -->


<div class="p-4">
	<PhotoGrid images={images} />
</div>
